<widget id="com.example.hello" version="0.0.1">
        <name>MyFirstApp</name>
        <description>
            This is phonegap training with mr Tiki
        </description>
        <author email="harithmhddan@gmail.com" href="http://phonegap.com">
            Mr Harith
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>